.main-header {
  background-color: var(--black);
  padding-top: 8px;
  width: 100%;
  z-index: 8;
  height: 44px;
  position: fixed;
  top: 0;
  align-items: center;
  padding-bottom: 8px;
}
.main-header_input {
  width: 100%;
  height: 40px;
  left: 0;
  border-radius: 8px;
  background-color: var(--tab-background);
  border: none;
  margin-left: 110px;
  margin-top: 2px;
  border-color: var(--tab-background);
  position: relative;
}
@media screen and (max-width: 650px) {
  .main-header_input {
    display: none;
  }
}
.main-header_input-btn {
  display: none;
  border: none;
  padding: 14px;
  border-radius: 50%;
  background-color: #504c4c;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .main-header_input {
    width: 200px;
    padding: 10px;
  }
}
.main-header_block {
  position: absolute;
  right: 0;
  align-items: center;
}
.main-header_input::-moz-placeholder {
  padding-left: 20px;
  color: var(--white);
}
.main-header_input::placeholder {
  padding-left: 20px;
  color: var(--white);
}
.main-header hr {
  height: 2px;
  background-color: #504c4c;
  border: none;
}
.main-header_language-block {
  background-color: var(--black);
  padding: 14px;
  z-index: 30000;
  position: absolute;
  display: none;
  right: 4px;
  border-radius: 12px;
  top: 50px;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
}
.main-header_dropdown-arrow-btn {
  background-color: var(--black);
  border: none;
  cursor: pointer;
}
.main-header_opened-language-btn {
  display: flex;
  width: 120px;
  border: none;
  cursor: pointer;
  align-items: center;
  background-color: #504c4c;
  padding: 6px;
  border-radius: 8px;
}
.main-header_language-text {
  color: var(--white);
  font-size: 14px;
  margin-left: 10px;
}
.main-header_language-img {
  width: 18px;
}
.main-header_login-btn {
  padding: 8px 24px;
  border-radius: 8px;
  background-color: var(--black);
  border-color: var(--white);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 24px;
}
.main-header_sign-btn {
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 8px;
  background-color: var(--brand-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 10px;
}
.main-header_fire-img-in-burger {
  margin-top: 3px;
}
.main-header_list {
  display: flex;
}
.main-header_language-btn {
  background-color: var(--black);
  border-radius: 50%;
  border: none;
  align-items: center;
}
.main-header_input-block {
  position: absolute;
}
.main-header_opened-btn {
  display: none;
  background-color: var(--black);
  border: none;
  margin-left: 2%;
}
.main-header_burger-btn-fire-img-block {
  display: flex;
  margin-top: 2%;
}
.main-header_fire-img {
  margin-left: 6px;
  width: 45px;
  height: 30px;
  display: none;
}
.main-header_fire-img-brand-logo {
  margin-left: 6px;
  width: 45px;
  height: 30px;
  display: none;
}
@media screen and (max-width: 420px) {
  .main-header {
    top: 0;
    z-index: 6;
  }
  .main-header_sign-btn {
    margin-left: 6px;
  }
  .main-header_fire-img-brand-logo {
    display: block;
  }
  .main-header_input {
    display: none;
  }
  .main-header_language-btn {
    display: none;
  }
  .main-header_block {
    margin-left: 30px;
  }
  .main-header_input-block {
    margin-left: 24%;
  }
  .main-header_input-btn {
    margin-left: 100%;
    float: left;
  }
  .main-header_dropdown-arrow-btn {
    display: none;
  }
  .main-header_opened-btn {
    display: block;
  }
}

.games-group {
  margin-top: 30px;
  margin-right: 30px;
}
.games-group_ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
@media screen and (max-width: 680px) {
  .games-group {
    position: absolute;
    left: 220px;
  }
}
@media screen and (max-width: 420px) {
  .games-group_ul {
    grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
  }
}
@media screen and (max-width: 420px) {
  .games-group {
    position: absolute;
    left: 11%;
    justify-content: center;
    top: 69%;
  }
}

body {
  background-color: var(--warm-black);
  padding-right: 40px;
}

.main-section {
  margin-left: 110px;
  margin-top: 6%;
}
.main-section_bonus-cart {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
.main-section_bonus-card-mb {
  display: none;
}
@media screen and (max-width: 420px) {
  .main-section {
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
  }
  .main-section_bonus-card-img {
    display: none;
  }
  .main-section_bonus-card-mb {
    display: block;
    margin-top: 22%;
  }
  .main-section_bonus-content {
    display: none;
  }
  .main-section_join-btn {
    margin-bottom: 400px;
  }
}
.main-section_bonus-card-img {
  opacity: 60%;
}
.main-section_bonus-list {
  position: relative;
}
.main-section_bonus-content {
  position: absolute;
  top: 36px;
  left: 36px;
}
.main-section_join-btn {
  background-color: var(--brand-color);
  border: none;
  border-radius: 16px;
  padding: 10px 30px;
  display: block;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  margin-top: 40px;
  margin-left: 37%;
}
.main-section_important-text {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  color: var(--white);
}
.main-section_bonus-title {
  font-weight: 400;
  text-align: center;
  font-size: 28px;
  line-height: 72px;
  color: var(--white);
}
.main-section_bonus-list {
  margin-right: 32px;
}
.main-section_thick-text {
  font-weight: 800;
  size: 36px;
  line-height: 72px;
  color: var(--white);
}
@media screen and (max-width: 1250px) {
  .main-section_bonus-cart {
    display: block;
  }
  .main-section_categories-helper {
    display: flex;
  }
  .main-section_bonus-title {
    text-align: center;
    font-size: 24px;
    line-height: 72px;
  }
  .main-section_important-text {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
  }
  .main-section_join-btn {
    padding: 10px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 40px;
  }
  .main-section_bonus-card-img1 {
    margin-bottom: 30px;
  }
  .main-section_thick-text {
    size: 36px;
    line-height: 72px;
  }
}
@media screen and (min-width: 1800px) {
  .main-section_bonus-card-img1 {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1900px) {
  .main-section_bonus-card-img1 {
    margin-right: 150px;
  }
}
@media screen and (max-width: 1300px) {
  .main-section_important-text {
    font-size: 16px;
    text-align: center;
    margin-left: 30px;
  }
  .main-section_bonus-title {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    margin-left: 50px;
  }
  .main-section_join-btn {
    padding: 8px 24px;
    font-size: 14px;
    line-height: 28px;
    margin-left: 39%;
  }
}
@media screen and (max-width: 1230px) {
  .main-section_bonus-title {
    margin-right: 20px;
  }
}

.main-nav_main-ul {
  background-color: var(--black);
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  width: 38px;
  transition: width 0.3s ease;
  padding: 13px 20px;
  cursor: pointer;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
.main-nav_main-ul:hover {
  width: 200px;
}
@media screen and (max-width: 420px) {
  .main-nav_main-ul {
    display: none;
  }
}
.main-nav_main-ul:hover + .main-nav_text {
  visibility: visible;
}
.main-nav hr {
  margin-bottom: 30px;
}
.main-nav_fire-img {
  margin-bottom: 30px;
}
.main-nav_burger-img {
  z-index: 10001;
  color: var(--white);
}
.main-nav_burger-btn {
  background-color: var(--black);
  border: none;
  cursor: pointer;
  visibility: hidden;
}
@media screen and (max-width: 420px) {
  .main-nav_burger-btn {
    visibility: visible;
  }
  .main-nav_ul {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .main-nav {
    width: 38px;
  }
}
.main-nav_arrow-btn {
  border-color: var(--brand-color);
  border-radius: 50%;
  background-color: var(--black);
}
.main-nav_text {
  font-size: 18px;
  color: var(--brand-color);
}
.main-nav_text:hover {
  color: rgb(255, 81, 0);
}
.main-nav_burger-ul {
  top: 0;
  display: none;
  padding-bottom: 90px;
  background-color: var(--black);
  position: fixed;
  width: 100%;
  height: 100%;
}
.main-nav_burger-list {
  background-color: #222424;
  padding: 16px;
  border-radius: 16px;
  width: 90%;
  margin-left: 10px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.main-nav_opened-btn {
  display: none;
}
.main-nav_burger-item {
  margin-left: 20px;
}
.main-nav_close-btn {
  position: absolute;
  right: 10px;
  background-color: var(--black);
  border: none;
  margin-top: 10px;
}
.main-nav_close-img {
  width: 100%;
}
.main-nav_fire-img-in-burger {
  margin-left: 10px;
  margin-top: 6px;
}
.main-nav_img {
  margin-right: 30px;
}
.main-nav_list {
  margin-bottom: 50px;
  padding-left: 4px;
  display: flex;
  align-items: center;
}

.main-categories {
  padding: 20px;
  flex-wrap: wrap;
  overflow-x: auto;
  white-space: nowrap;
  background-color: var(--black);
  border-radius: 16px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main-categories_category-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  color: var(--white);
}
.main-categories_category-img {
  width: 50px;
}
.main-categories_category {
  padding: 10px 40px;
  background-color: var(--tab-background);
  align-items: center;
  scroll-snap-align: start;
  flex: 0 0 auto;
  transition: transform 0.3s;
  color: var(--white);
  border: none;
  border-radius: 32px;
}
.main-categories_category:hover {
  background-color: #121212;
}
@media screen and (min-width: 1600px) {
  .main-categories_category {
    padding: 12px 50px;
  }
}
@media screen and (min-width: 1800px) {
  .main-categories_category {
    padding: 16px 60px;
  }
}
@media screen and (max-width: 1065px) {
  .main-categories_category {
    height: 100px;
  }
  .main-categories_category-helper {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1170px) {
  .main-categories_category-img {
    width: 30px;
  }
  .main-categories_category {
    padding: 6px 26px;
  }
}
@media screen and (max-width: 420px) {
  .main-categories_category {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .main-categories {
    position: absolute;
    width: 250px;
    left: 66px;
  }
}
@media screen and (min-width: 1900px) {
  .main-categories_category {
    padding: 18px 70px;
  }
}
@media screen and (max-width: 1230px) {
  .main-categories_category-img {
    width: 40px;
  }
  .main-categories_category {
    padding: 6px 30px;
  }
}
@media screen and (max-width: 1350px) {
  .main-categories_category {
    padding: 8px 36px;
  }
}
@media screen and (max-width: 420px) {
  .main-categories {
    position: absolute;
    left: 8%;
    top: 37%;
    width: 220px;
  }
  .main-categories_category {
    margin-left: 4px;
  }
}
@media (max-width: 768px) {
  .main-categories {
    flex-wrap: nowrap;
    justify-content: flex-start;
    scroll-snap-type: y mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 74%;
  }
  .main-categories_category {
    margin-right: 10px;
  }
  .main-categories_category.active {
    border: 3px solid rgb(255, 107, 0);
    outline: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 40px 0px rgba(252, 248, 184, 0.42);
  }
}

.main-providers {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  padding: 16px;
  justify-content: space-between;
  border-radius: 16px;
  background-color: var(--black);
}
.main-providers_provider {
  background-color: var(--tab-background);
  padding: 12px 14px;
  border-radius: 16px;
  border: none;
  scroll-snap-align: start;
  flex: 0 0 auto;
  transition: transform 0.3s;
}
.main-providers_provider:hover {
  background-color: #121212;
}
@media screen and (min-width: 1600px) {
  .main-providers_provider {
    padding: 14px 20px;
  }
}
@media screen and (min-width: 1800px) {
  .main-providers_provider {
    padding: 18px 32px;
  }
}
@media screen and (min-width: 1900px) {
  .main-providers_provider {
    padding: 20px 36px;
  }
}
@media screen and (max-width: 1300px) {
  .main-providers_provider {
    padding: 12px 10px;
  }
}
@media screen and (max-width: 420px) {
  .main-providers_provider {
    justify-self: center;
  }
  .main-providers {
    position: absolute;
    width: 250px;
    padding-left: 20px;
    left: 8%;
    top: 59%;
  }
}
@media screen and (max-width: 1230px) {
  .main-providers_provider {
    padding: 10px 6px;
  }
}
@media (max-width: 768px) {
  .main-providers {
    flex-wrap: nowrap;
    justify-content: flex-start;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 76%;
    -webkit-overflow-scrolling: touch;
  }
  .main-providers_provider {
    margin-right: 10px;
  }
  .main-providers_provider.active {
    border: 3px solid rgb(255, 107, 0);
    outline: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 40px 0px rgba(252, 248, 184, 0.42);
  }
}

.btn {
  cursor: pointer;
  border-radius: 8px;
}

.categorie-btn {
  border: none;
  padding: 16px;
  background-color: var(--tab-background);
}

html {
  --black: #000000;
  --warm-black: #091517;
  --white: #ffffff;
  --brand-color: rgb(255, 107, 0);
  --tab-background: #2B2E2E;
}/*# sourceMappingURL=style.css.map */