.main-categories {
    padding: 20px;
    background-color: var(--black);
    border-radius: 16px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &_category-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
        color: var(--white);
    }

    &_category-img {
        width: 50px;
    }

    &_category {
        padding: 10px 40px;
        background-color: var(--tab-background);
        align-items: center;
        color: var(--white);
        border: none;
        border-radius: 32px;
    }

    &_category:hover {
        background-color: #121212;
    }

    @media screen and (min-width: 1600px) {
        &_category {
            padding: 12px 50px;
        }
    }

    @media screen and (min-width: 1800px) {
        &_category {
            padding: 16px 60px;
        }
    }

    @media screen and (min-width: 1900px) {
        &_category {
            padding: 18px 70px;
        }
    }

    @media screen and (max-width: 1230px) {
        &_category {
            padding: 6px 30px;
        }
    }

    @media screen and (max-width: 409px) {
        margin-left: 200px;
    }

    @media screen and (max-width: 1350px) {
        &_category {
            padding: 8px 36px;
        }
    }
}