.main-categories {
    padding: 20px;
    flex-wrap: wrap;
    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--black);
    border-radius: 16px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &_category-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
        color: var(--white);
    }

    &_category-img {
        width: 50px;
    }

    &_category {
        padding: 10px 40px;
        background-color: var(--tab-background);
        align-items: center;
        scroll-snap-align: start;
        flex: 0 0 auto;
        transition: transform 0.3s;
        color: var(--white);
        border: none;
        border-radius: 32px;
    }

    &_category:hover {
        background-color: #121212;
    }

    @media screen and (min-width: 1600px) {
        &_category {
            padding: 12px 50px;
        }
    }

    @media screen and (min-width: 1800px) {
        &_category {
            padding: 16px 60px;
        }
    }

    @media screen and (max-width: 1065px) {
        &_category {
            height: 100px;
        }

        &_category-helper {
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 1170px) {
        &_category-img {
            width: 30px;
        }

        &_category {
            padding: 6px 26px;
        }
    }

    @media screen and (max-width: 420px) {
        &_category {
            margin-right: 10px;
            margin-bottom: 0;
        }

        & {
            position: absolute;
            width: 250px;
            left: 66px;
        }
    }

    @media screen and (min-width: 1900px) {
        &_category {
            padding: 18px 70px;
        }
    }

    @media screen and (max-width: 1230px) {
        &_category-img {
            width: 40px;
        }

        &_category {
            padding: 6px 30px;
        }
    }

    @media screen and (max-width: 1350px) {
        &_category {
            padding: 8px 36px;
        }
    }

    @media screen and (max-width: 420px) {
        & {
            padding: 20px;
            left: 20px;
            top: 18%;
            width: 220px;
        }

        &_category {
            margin-left: 20px;
        }
    }

    @media (max-width: 768px) {
        & {
            flex-wrap: nowrap;
            justify-content: flex-start;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            width: 81%;
        }

        &_category {
            margin-right: 20px;
        }

        &_category.active {
            border: 3px solid rgb(255, 107, 0);
            outline: 1px solid rgb(255, 255, 255);
            box-shadow: 0px 5px 40px 0px rgba(252, 248, 184, 0.42);
        }
    }
}