.main-header {
    background-color: var(--black);
    padding-top: 8px;
    width: 100%;
    height: 44px;
    position: relative;
    align-items: center;
    padding-bottom: 8px;


    &_input {
        width: 100%;
        height: 40px;
        left: 0;
        border-radius: 8px;
        background-color: var(--tab-background);
        border: none;
        margin-left: 110px;
        margin-top: 2px;
        border-color: var(--tab-background);
        position: relative;
    }

    @media screen and (max-width: 650px) {
        &_input {
            display: none;
        }
    }

    &_input-btn {
        display: none;
        border: none;
        padding: 14px;
        border-radius: 50%;
        background-color: #504c4c;
        cursor: pointer;
    }

    @media screen and (max-width: 850px) {
        &_input {
            width: 200px;
            padding: 10px;
        }
    }

    &_block {
        position: absolute;
        right: 0;
        align-items: center;
    }

    &_input::placeholder {
        padding-left: 20px;
        color: var(--white);
    }

    hr {
        height: 2px;
        background-color: #504c4c;
        border: none;
    }

    &_language-block {
        background-color: var(--black);
        padding: 14px;
        z-index: 30000;
        position: absolute;
        display: none;
        right: 4px;
        border-radius: 12px;
        top: 50px;
        align-items: center;
        border: 1px solid rgb(255, 255, 255);
    }

    &_dropdown-arrow-btn {
        background-color: var(--black);
        border: none;
        cursor: pointer;
    }


    &_opened-language-btn {
        display: flex;
        width: 120px;
        border: none;
        cursor: pointer;
        align-items: center;
        background-color: #504c4c;
        padding: 6px;
        border-radius: 8px;
    }

    &_language-text {
        color: var(--white);
        font-size: 14px;
        margin-left: 10px;
    }

    &_language-img {
        width: 18px;
    }

    &_login-btn {
        padding: 8px 24px;
        border-radius: 16px;
        background-color: var(--black);
        border-color: var(--white);
        color: var(--white);
        font-size: 16px;
        cursor: pointer;
        font-weight: 500;
        line-height: 24px;
    }

    &_sign-btn {
        cursor: pointer;
        padding: 10px 24px;
        border-radius: 16px;
        background-color: var(--brand-color);
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-right: 10px;
    }

    &_fire-img-in-burger {
        margin-top: 3px;    
    }

    &_list {
        display: flex;
    }

    &_language-btn {
        background-color: var(--black);
        border-radius: 50%;
        border: none;
        align-items: center;
    }

    &_input-block {
        top: 12%;
        position: absolute;
    }

    &_opened-btn {
        display: none;
        background-color: var(--black);
        border: none;
        margin-left: 2%;
    }

    &_burger-btn-fire-img-block {
        display: flex;
        margin-top: 2%;
    }

    &_fire-img {
        margin-left: 6px;
        width: 45px;
        height: 30px;
        display: none;
    }

    &_fire-img-brand-logo {
        margin-left: 6px;
        width: 45px;
        height: 30px;
        display: none;
    }

    @media screen and (max-width: 420px) {
        &_fire-img-brand-logo {
            display: block;
        }

        &_input {
            display: none;
        }

        &_language-btn {
            display: none;
        }

        &_block {
            margin-left: 30px;
        }

        &_input-block {
            margin-left: 24%;
        }

        &_input-btn {
            display: block;
            margin-left: 100%;
        }
        // &_btn {
        //     display: none;
        // }

        &_dropdown-arrow-btn {
            display: none;
        }

        &_opened-btn {
            display: block;
        }
    }

}