.main-providers {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    padding: 16px;
    justify-content: space-between;
    border-radius: 16px;
    background-color: var(--black);

    &_provider {
        background-color: var(--tab-background);
        padding: 12px 14px;
        border-radius: 16px;
        border: none;
        scroll-snap-align: start;
        flex: 0 0 auto;
        transition: transform 0.3s;
    }

    &_provider:hover {
        background-color: #121212;
    }

    @media screen and (min-width: 1600px) {
        &_provider {
            padding: 14px 20px;
        }
    }

    @media screen and (min-width: 1800px) {
        &_provider {
            padding: 18px 32px;
        }
    }

    @media screen and (min-width: 1900px) {
        &_provider {
            padding: 20px 36px;
        }
    }

    @media screen and (max-width: 1300px) {
        &_provider {
            padding: 12px 10px;
        }
    }

    @media screen and (max-width: 420px) {
        &_provider {
            justify-self: center;
        }

        & {
            position: absolute;
            width: 250px;
            left: 8%;
            top: 63%;
        }
    }

    @media screen and (max-width: 1230px) {
        &_provider {
            padding: 10px 6px;
        }
    }

    // @media screen and (max-width: 1300px) {
    //     &_provider {
    //         padding: 8px 6px;
    //     }
    // }

    @media (max-width: 768px) {
        & {
            flex-wrap: nowrap;
            justify-content: flex-start;
            scroll-snap-type: y mandatory;
            overflow-y: scroll;
            width: 76%;
            -webkit-overflow-scrolling: touch;
        }

        &_provider  {
            margin-right: 10px;
        }

        &_provider.active {
            border: 3px solid rgb(255, 107, 0);
            outline: 1px solid rgb(255, 255, 255);
            box-shadow: 0px 5px 40px 0px rgba(252, 248, 184, 0.42);
        }
    }
}