.main-nav {
    &_main-ul {
        background-color: var(--black);
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 3;
        overflow: hidden;
        transition: width .3s ease;
        padding: 13px 20px;
        cursor: pointer;
        box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
    }

    &_main-ul:hover {
        width: 200px;
    }

    @media screen and (max-width: 420px) {
        &_main-ul {
            display: none;
        }

    }

    &_main-ul:hover+&_text {
        visibility: visible;
    }

    hr {
        margin-bottom: 30px;
    }

    &_fire-img {
        margin-bottom: 30px;
    }

    &_burger-img {
        z-index: 10001;
        color: var(--white);
    }

    &_burger-btn {
        background-color: var(--black);
        border: none;
        cursor: pointer;
        visibility: hidden;
    }

    @media screen and (max-width: 420px) {
        &_burger-btn {
            visibility: visible;
        }

        &_ul {
            display: none;
        }
    }

    @media screen and (min-width: 500px) {
        width: 38px;
    }

    &_arrow-btn {
        border-color: var(--brand-color);
        border-radius: 50%;
        background-color: var(--black);
    }

    &_text {
        font-size: 18px;
        color: var(--brand-color);
    }

    &_text:hover {
        color: rgb(255, 81, 0);
    }

    &_burger-ul {
        display: none;
    }

    &_burger-list {
        background-color: #222424;
        padding: 14px;
        border-radius: 16px;
        width: 90%;
        margin-left: 10px;
        padding-left: 4px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &_opened-btn {
        display: none;
    }

    &_burger-item {
        margin-left: 20px;
    }

    &_img {
        margin-right: 30px;
    }

    &_list {
        margin-bottom: 50px;
        padding-left: 4px;
        display: flex;
        align-items: center;
    }
}